spring:
  data:
    mongodb:
      uri: "mongodb://root:root@localhost:27017/orderdb?authSource=admin"
  application:
    name: orderservice
  kafka:
    bootstrapServer: "localhost:9092"
    template:
      default-topic: orderTopic
    producer:
      keySerializer: org.apache.kafka.common.serialization.StringSerializer
      valueSerializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  port: 8082

eureka:
  url: http://localhost:8888
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8888/eureka/
